--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: car_rental; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA car_rental;


ALTER SCHEMA car_rental OWNER TO postgres;

--
-- Name: btree_gist; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS btree_gist WITH SCHEMA public;


--
-- Name: EXTENSION btree_gist; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION btree_gist IS 'support for indexing common datatypes in GiST';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: brands; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.brands (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE car_rental.brands OWNER TO postgres;

--
-- Name: brands_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

CREATE SEQUENCE car_rental.brands_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE car_rental.brands_id_seq OWNER TO postgres;

--
-- Name: brands_id_seq; Type: SEQUENCE OWNED BY; Schema: car_rental; Owner: postgres
--

ALTER SEQUENCE car_rental.brands_id_seq OWNED BY car_rental.brands.id;


--
-- Name: brands_id_seq1; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.brands ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.brands_id_seq1
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: car; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.car (
    rent double precision,
    id bigint NOT NULL,
    model_id bigint NOT NULL,
    state_id bigint NOT NULL,
    gos_number character varying(255) NOT NULL,
    vin character varying(255) NOT NULL,
    year_of_issue integer
);


ALTER TABLE car_rental.car OWNER TO postgres;

--
-- Name: car_classes; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.car_classes (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE car_rental.car_classes OWNER TO postgres;

--
-- Name: car_classes_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

CREATE SEQUENCE car_rental.car_classes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE car_rental.car_classes_id_seq OWNER TO postgres;

--
-- Name: car_classes_id_seq; Type: SEQUENCE OWNED BY; Schema: car_rental; Owner: postgres
--

ALTER SEQUENCE car_rental.car_classes_id_seq OWNED BY car_rental.car_classes.id;


--
-- Name: car_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.car ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.car_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: car_model; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.car_model (
    id_model bigint NOT NULL,
    body_type character varying(255),
    is_deleted boolean DEFAULT false NOT NULL,
    brand_id bigint NOT NULL,
    model_id bigint NOT NULL,
    car_class_id bigint
);


ALTER TABLE car_rental.car_model OWNER TO postgres;

--
-- Name: car_model_id_model_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.car_model ALTER COLUMN id_model ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.car_model_id_model_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: car_state; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.car_state (
    id bigint NOT NULL,
    status character varying(255) NOT NULL
);


ALTER TABLE car_rental.car_state OWNER TO postgres;

--
-- Name: car_state_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.car_state ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.car_state_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: client; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.client (
    id bigint NOT NULL,
    role_id bigint,
    email character varying(255) NOT NULL,
    first_name character varying(255),
    last_name character varying(255) NOT NULL,
    login character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    phone character varying(255),
    is_banned boolean DEFAULT false NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    email_verified boolean DEFAULT false NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE car_rental.client OWNER TO postgres;

--
-- Name: client_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.client ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: contract; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.contract (
    data_end timestamp without time zone NOT NULL,
    data_start timestamp without time zone NOT NULL,
    total_cost double precision NOT NULL,
    car_id bigint NOT NULL,
    client_id bigint NOT NULL,
    id bigint NOT NULL,
    state_id bigint NOT NULL,
    comment character varying(255),
    duration_minutes bigint
);


ALTER TABLE car_rental.contract OWNER TO postgres;

--
-- Name: contract_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.contract ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.contract_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: doctype; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.doctype (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE car_rental.doctype OWNER TO postgres;

--
-- Name: doctype_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.doctype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.doctype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: document; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.document (
    date_of_issue date NOT NULL,
    client_id bigint NOT NULL,
    doctype_id bigint NOT NULL,
    id bigint NOT NULL,
    issuing_authority character varying(255) NOT NULL,
    number character varying(255) NOT NULL,
    series character varying(255) NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL
);


ALTER TABLE car_rental.document OWNER TO postgres;

--
-- Name: document_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.document ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.document_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: favorite; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.favorite (
    id bigint NOT NULL,
    client_id bigint NOT NULL,
    car_id bigint NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE car_rental.favorite OWNER TO postgres;

--
-- Name: favorite_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.favorite ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.favorite_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: images; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.images (
    id bigint NOT NULL,
    file_name text,
    url text,
    car_id bigint
);


ALTER TABLE car_rental.images OWNER TO postgres;

--
-- Name: images_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.images ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.images_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: models; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.models (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE car_rental.models OWNER TO postgres;

--
-- Name: models_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

CREATE SEQUENCE car_rental.models_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE car_rental.models_id_seq OWNER TO postgres;

--
-- Name: models_id_seq; Type: SEQUENCE OWNED BY; Schema: car_rental; Owner: postgres
--

ALTER SEQUENCE car_rental.models_id_seq OWNED BY car_rental.models.id;


--
-- Name: models_id_seq1; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.models ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.models_id_seq1
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: refresh_token_sequence; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

CREATE SEQUENCE car_rental.refresh_token_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE car_rental.refresh_token_sequence OWNER TO postgres;

--
-- Name: refresh_tokens; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.refresh_tokens (
    id bigint NOT NULL,
    token_hash character varying(60) NOT NULL,
    client_id bigint NOT NULL,
    expiry_date timestamp without time zone NOT NULL,
    created_at timestamp without time zone NOT NULL,
    revoked boolean NOT NULL,
    revoked_at timestamp without time zone
);


ALTER TABLE car_rental.refresh_tokens OWNER TO postgres;

--
-- Name: rental_state; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.rental_state (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE car_rental.rental_state OWNER TO postgres;

--
-- Name: rental_state_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.rental_state ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.rental_state_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: role; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.role (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE car_rental.role OWNER TO postgres;

--
-- Name: role_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: verification_codes; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.verification_codes (
    id bigint NOT NULL,
    code character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    client_id bigint NOT NULL,
    type character varying(255) NOT NULL
);


ALTER TABLE car_rental.verification_codes OWNER TO postgres;

--
-- Name: verification_codes_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.verification_codes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.verification_codes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: refresh_token_sequence; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.refresh_token_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refresh_token_sequence OWNER TO postgres;

--
-- Name: car_classes id; Type: DEFAULT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car_classes ALTER COLUMN id SET DEFAULT nextval('car_rental.car_classes_id_seq'::regclass);


--
-- Data for Name: brands; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--

COPY car_rental.brands (id, name) FROM stdin;
1	Honda
2	Mercedes-Benz
3	BMW
4	Volkswagen
5	Toyota
7	GAZ
8	╤Л╨▓╨░
6	╨┐╤А╨╕╨▓╨╡╤В╨╕╨║
9	1111
10	222
11	3
12	1
13	╨Я╤А╨╕╨▓╨╡╤В
14	<script>alert("XSS ╤А╨░╨▒╨╛╤В╨░╨╡╤В!")</script>
\.


--
-- Data for Name: car; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--



--
-- Data for Name: car_classes; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--

COPY car_rental.car_classes (id, name) FROM stdin;
1	CROSSOVER
2	COMPACT_SUV
3	SUV
4	LUXURY_SUV
5	COMPACT
6	ECONOMY
7	VAN
8	EXECUTIVE
9	LUXURY
10	SPORTS
11	MID_SIZE
12	COUPE_SUV
13	HOT_HATCH
14	LARGE_SUV
15	TRUCK
16	ECO
18	BOMBA
19	1111
20	2
21	23
22	232
23	╨Ш╨╝╨▒╨░
24	<button>╨н╤В╨╛ ╨║╨╜╨╛╨┐╨║╨░? ╨в╨╛╨│╨┤╨░ ╨╖╨░╤Й╨╕╤В╨░ ╤Б╨╗╨╛╨╝╨░╨╜╨░</button>
25	<h2> ╨┐╤А╨╕╨▓╨╡╤В</h2>
\.


--
-- Data for Name: car_model; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--



--
-- Data for Name: car_state; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--

COPY car_rental.car_state (id, status) FROM stdin;
1	AVAILABLE
2	CONFIRMED
3	ACTIVE
4	CANCELLED
5	CLOSED
\.


--
-- Data for Name: client; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--



--
-- Data for Name: contract; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--



--
-- Data for Name: doctype; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--

COPY car_rental.doctype (id, name) FROM stdin;
1	PASSPORT
2	DRIVER_LICENSE
3	INTERNATIONAL_PASSPORT
\.


--
-- Data for Name: document; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--



--
-- Data for Name: favorite; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--

COPY car_rental.favorite (id, client_id, car_id, created_at) FROM stdin;
24	508	25	2025-11-27 12:53:06.951161
26	508	73	2025-11-27 12:53:08.270796
\.


--
-- Data for Name: images; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--



--
-- Data for Name: models; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--



--
-- Data for Name: rental_state; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--

COPY car_rental.rental_state (id, name) FROM stdin;
1	ACTIVE
2	COMPLETED
3	CANCELLED
4	PENDING
5	CANCELLATION_REQUESTED
6	CONFIRMED
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--

COPY car_rental.role (id, name) FROM stdin;
1	CLIENT
2	ADMIN
3	MANAGER
\.


--
-- Data for Name: verification_codes; Type: TABLE DATA; Schema: car_rental; Owner: postgres
--

COPY car_rental.verification_codes (id, code, created_at, client_id, type) FROM stdin;
1	TgBlW-ia7xIOkBXyMcJbVQ	2025-11-15 19:18:03.71458	100	EMAIL_VERIFICATION
2	Cphl413KHcoQXy3kMlD4hA	2025-11-15 19:18:19.087041	100	EMAIL_VERIFICATION
3	HDA_Oz5Fc5IPl43g9-eYhg	2025-11-15 19:18:30.248766	100	EMAIL_VERIFICATION
4	bwc21RYPmaje_zs8ylOcRw	2025-11-15 19:18:42.824155	100	EMAIL_VERIFICATION
6	N-GQPS0qibkZIEH3JaNfBw	2025-11-15 19:56:57.292325	502	PASSWORD_RESET
9	L1JrA1Suy9eYHh4iV-_flAjmCt3zsi5BeT3XKt4R1Xw	2025-11-27 12:55:33.378352	508	EMAIL_VERIFICATION
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: brands_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.brands_id_seq', 8, true);


--
-- Name: brands_id_seq1; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.brands_id_seq1', 14, true);


--
-- Name: car_classes_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.car_classes_id_seq', 25, true);


--
-- Name: car_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.car_id_seq', 515, true);


--
-- Name: car_model_id_model_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.car_model_id_model_seq', 59, true);


--
-- Name: car_state_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.car_state_id_seq', 5, true);


--
-- Name: client_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.client_id_seq', 508, true);


--
-- Name: contract_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.contract_id_seq', 109, true);


--
-- Name: doctype_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.doctype_id_seq', 3, true);


--
-- Name: document_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.document_id_seq', 111, true);


--
-- Name: favorite_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.favorite_id_seq', 26, true);


--
-- Name: images_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.images_id_seq', 5, true);


--
-- Name: models_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.models_id_seq', 52, true);


--
-- Name: models_id_seq1; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.models_id_seq1', 106, true);


--
-- Name: refresh_token_sequence; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.refresh_token_sequence', 40, true);


--
-- Name: rental_state_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.rental_state_id_seq', 6, true);


--
-- Name: role_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.role_id_seq', 3, true);


--
-- Name: verification_codes_id_seq; Type: SEQUENCE SET; Schema: car_rental; Owner: postgres
--

SELECT pg_catalog.setval('car_rental.verification_codes_id_seq', 10, true);


--
-- Name: refresh_token_sequence; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.refresh_token_sequence', 1, false);


--
-- Name: brands brands_name_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.brands
    ADD CONSTRAINT brands_name_key UNIQUE (name);


--
-- Name: brands brands_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.brands
    ADD CONSTRAINT brands_pkey PRIMARY KEY (id);


--
-- Name: car_classes car_classes_name_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car_classes
    ADD CONSTRAINT car_classes_name_key UNIQUE (name);


--
-- Name: car_classes car_classes_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car_classes
    ADD CONSTRAINT car_classes_pkey PRIMARY KEY (id);


--
-- Name: car car_gos_number_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car
    ADD CONSTRAINT car_gos_number_key UNIQUE (gos_number);


--
-- Name: car_model car_model_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car_model
    ADD CONSTRAINT car_model_pkey PRIMARY KEY (id_model);


--
-- Name: car car_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car
    ADD CONSTRAINT car_pkey PRIMARY KEY (id);


--
-- Name: car_state car_state_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car_state
    ADD CONSTRAINT car_state_pkey PRIMARY KEY (id);


--
-- Name: car_state car_state_status_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car_state
    ADD CONSTRAINT car_state_status_key UNIQUE (status);


--
-- Name: car car_vin_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car
    ADD CONSTRAINT car_vin_key UNIQUE (vin);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (id);


--
-- Name: contract contract_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.contract
    ADD CONSTRAINT contract_pkey PRIMARY KEY (id);


--
-- Name: doctype doctype_name_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.doctype
    ADD CONSTRAINT doctype_name_key UNIQUE (name);


--
-- Name: doctype doctype_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.doctype
    ADD CONSTRAINT doctype_pkey PRIMARY KEY (id);


--
-- Name: document document_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.document
    ADD CONSTRAINT document_pkey PRIMARY KEY (id);


--
-- Name: models models_name_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.models
    ADD CONSTRAINT models_name_key UNIQUE (name);


--
-- Name: models models_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.models
    ADD CONSTRAINT models_pkey PRIMARY KEY (id);


--
-- Name: favorite pk_favorite; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.favorite
    ADD CONSTRAINT pk_favorite PRIMARY KEY (id);


--
-- Name: images pk_images; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.images
    ADD CONSTRAINT pk_images PRIMARY KEY (id);


--
-- Name: refresh_tokens pk_refresh_tokens; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.refresh_tokens
    ADD CONSTRAINT pk_refresh_tokens PRIMARY KEY (id);


--
-- Name: verification_codes pk_verification_codes; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.verification_codes
    ADD CONSTRAINT pk_verification_codes PRIMARY KEY (id);


--
-- Name: rental_state rental_state_name_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.rental_state
    ADD CONSTRAINT rental_state_name_key UNIQUE (name);


--
-- Name: rental_state rental_state_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.rental_state
    ADD CONSTRAINT rental_state_pkey PRIMARY KEY (id);


--
-- Name: role role_name_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.role
    ADD CONSTRAINT role_name_key UNIQUE (name);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens uc_refresh_tokens_token_hash; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.refresh_tokens
    ADD CONSTRAINT uc_refresh_tokens_token_hash UNIQUE (token_hash);


--
-- Name: verification_codes uc_verification_codes_code; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.verification_codes
    ADD CONSTRAINT uc_verification_codes_code UNIQUE (code);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: idx_4fc22ad287dd814fd10209148; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE INDEX idx_4fc22ad287dd814fd10209148 ON car_rental.refresh_tokens USING btree (client_id);


--
-- Name: idx_contract_car_client; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE INDEX idx_contract_car_client ON car_rental.contract USING btree (car_id, client_id);


--
-- Name: idx_contract_datastart_state; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE INDEX idx_contract_datastart_state ON car_rental.contract USING btree (data_start, state_id);


--
-- Name: uk_brands_name_lower; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE UNIQUE INDEX uk_brands_name_lower ON car_rental.brands USING btree (lower((name)::text));


--
-- Name: uk_car_classes_name_lower; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE UNIQUE INDEX uk_car_classes_name_lower ON car_rental.car_classes USING btree (lower((name)::text));


--
-- Name: uk_car_state_status_lower; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE UNIQUE INDEX uk_car_state_status_lower ON car_rental.car_state USING btree (lower((status)::text));


--
-- Name: uk_client_email_active; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE UNIQUE INDEX uk_client_email_active ON car_rental.client USING btree (email) WHERE (is_deleted = false);


--
-- Name: uk_client_login_active; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE UNIQUE INDEX uk_client_login_active ON car_rental.client USING btree (login) WHERE (is_deleted = false);


--
-- Name: uk_client_phone_active; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE UNIQUE INDEX uk_client_phone_active ON car_rental.client USING btree (phone) WHERE (is_deleted = false);


--
-- Name: uk_doctype_name_lower; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE UNIQUE INDEX uk_doctype_name_lower ON car_rental.doctype USING btree (lower((name)::text));


--
-- Name: uk_document_client_active; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE UNIQUE INDEX uk_document_client_active ON car_rental.document USING btree (client_id) WHERE (is_deleted = false);


--
-- Name: uk_document_series_number_active; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE UNIQUE INDEX uk_document_series_number_active ON car_rental.document USING btree (lower((series)::text), lower((number)::text)) WHERE (is_deleted = false);


--
-- Name: uk_models_name_lower; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE UNIQUE INDEX uk_models_name_lower ON car_rental.models USING btree (lower((name)::text));


--
-- Name: uk_rental_state_name_lower; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE UNIQUE INDEX uk_rental_state_name_lower ON car_rental.rental_state USING btree (lower((name)::text));


--
-- Name: uk_role_name_lower; Type: INDEX; Schema: car_rental; Owner: postgres
--

CREATE UNIQUE INDEX uk_role_name_lower ON car_rental.role USING btree (lower((name)::text));


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: contract fk1imu9u0vjfpxljn0keruwa2yi; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.contract
    ADD CONSTRAINT fk1imu9u0vjfpxljn0keruwa2yi FOREIGN KEY (state_id) REFERENCES car_rental.rental_state(id);


--
-- Name: document fk4wiqnj5twgx3pup933cy9yybd; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.document
    ADD CONSTRAINT fk4wiqnj5twgx3pup933cy9yybd FOREIGN KEY (client_id) REFERENCES car_rental.client(id);


--
-- Name: car_model fk_car_model_brand; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car_model
    ADD CONSTRAINT fk_car_model_brand FOREIGN KEY (brand_id) REFERENCES car_rental.brands(id);


--
-- Name: car_model fk_car_model_car_class; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car_model
    ADD CONSTRAINT fk_car_model_car_class FOREIGN KEY (car_class_id) REFERENCES car_rental.car_classes(id);


--
-- Name: car_model fk_car_model_model; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car_model
    ADD CONSTRAINT fk_car_model_model FOREIGN KEY (model_id) REFERENCES car_rental.models(id);


--
-- Name: favorite fk_favorite_on_car; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.favorite
    ADD CONSTRAINT fk_favorite_on_car FOREIGN KEY (car_id) REFERENCES car_rental.car(id);


--
-- Name: favorite fk_favorite_on_client; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.favorite
    ADD CONSTRAINT fk_favorite_on_client FOREIGN KEY (client_id) REFERENCES car_rental.client(id);


--
-- Name: images fk_images_on_car; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.images
    ADD CONSTRAINT fk_images_on_car FOREIGN KEY (car_id) REFERENCES car_rental.car(id);


--
-- Name: refresh_tokens fk_refresh_tokens_on_client; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.refresh_tokens
    ADD CONSTRAINT fk_refresh_tokens_on_client FOREIGN KEY (client_id) REFERENCES car_rental.client(id);


--
-- Name: verification_codes fk_verification_codes_on_client; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.verification_codes
    ADD CONSTRAINT fk_verification_codes_on_client FOREIGN KEY (client_id) REFERENCES car_rental.client(id);


--
-- Name: car fkdr4movr77cm8s34r8jtv9ajvi; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car
    ADD CONSTRAINT fkdr4movr77cm8s34r8jtv9ajvi FOREIGN KEY (model_id) REFERENCES car_rental.car_model(id_model);


--
-- Name: contract fkixovqbw2hcpmeuelx4a7la9td; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.contract
    ADD CONSTRAINT fkixovqbw2hcpmeuelx4a7la9td FOREIGN KEY (car_id) REFERENCES car_rental.car(id);


--
-- Name: contract fklhq3p3xl25vvnfvyfc51ica0j; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.contract
    ADD CONSTRAINT fklhq3p3xl25vvnfvyfc51ica0j FOREIGN KEY (client_id) REFERENCES car_rental.client(id);


--
-- Name: document fknbwb2oicy6xhsnpu7naufy4x6; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.document
    ADD CONSTRAINT fknbwb2oicy6xhsnpu7naufy4x6 FOREIGN KEY (doctype_id) REFERENCES car_rental.doctype(id);


--
-- Name: car fkr7ylxgrplnijyxbh6lkn1eisl; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car
    ADD CONSTRAINT fkr7ylxgrplnijyxbh6lkn1eisl FOREIGN KEY (state_id) REFERENCES car_rental.car_state(id);


--
-- Name: client fkt3u054dm7xwantyiihf73p2tj; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.client
    ADD CONSTRAINT fkt3u054dm7xwantyiihf73p2tj FOREIGN KEY (role_id) REFERENCES car_rental.role(id);


--
-- PostgreSQL database dump complete
--

