--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9 (Debian 16.9-1.pgdg120+1)
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: car_rental; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA car_rental;


ALTER SCHEMA car_rental OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: car; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.car (
    rent double precision,
    id bigint NOT NULL,
    model_id bigint NOT NULL,
    state_id bigint NOT NULL,
    gos_number character varying(255) NOT NULL,
    image_url character varying(255),
    vin character varying(255) NOT NULL,
    year_of_issue integer
);


ALTER TABLE car_rental.car OWNER TO postgres;

--
-- Name: car_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.car ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.car_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: car_model; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.car_model (
    id_model bigint NOT NULL,
    body_type character varying(255),
    brand character varying(255) NOT NULL,
    car_class character varying(255),
    model character varying(255) NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL
);


ALTER TABLE car_rental.car_model OWNER TO postgres;

--
-- Name: car_model_id_model_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.car_model ALTER COLUMN id_model ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.car_model_id_model_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: car_state; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.car_state (
    id bigint NOT NULL,
    status character varying(255) NOT NULL
);


ALTER TABLE car_rental.car_state OWNER TO postgres;

--
-- Name: car_state_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.car_state ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.car_state_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: client; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.client (
    id bigint NOT NULL,
    role_id bigint,
    email character varying(255) NOT NULL,
    first_name character varying(255),
    last_name character varying(255) NOT NULL,
    login character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    phone character varying(255),
    is_banned boolean DEFAULT false NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL
);


ALTER TABLE car_rental.client OWNER TO postgres;

--
-- Name: client_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.client ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: contract; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.contract (
    data_end date,
    data_start date,
    total_cost double precision NOT NULL,
    car_id bigint NOT NULL,
    client_id bigint NOT NULL,
    id bigint NOT NULL,
    state_id bigint NOT NULL,
    comment character varying(255)
);


ALTER TABLE car_rental.contract OWNER TO postgres;

--
-- Name: contract_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.contract ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.contract_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: doctype; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.doctype (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE car_rental.doctype OWNER TO postgres;

--
-- Name: doctype_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.doctype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.doctype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: document; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.document (
    date_of_issue date NOT NULL,
    client_id bigint NOT NULL,
    doctype_id bigint NOT NULL,
    id bigint NOT NULL,
    issuing_authority character varying(255) NOT NULL,
    number character varying(255) NOT NULL,
    series character varying(255) NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL
);


ALTER TABLE car_rental.document OWNER TO postgres;

--
-- Name: document_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.document ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.document_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rental_state; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.rental_state (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE car_rental.rental_state OWNER TO postgres;

--
-- Name: rental_state_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.rental_state ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.rental_state_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: role; Type: TABLE; Schema: car_rental; Owner: postgres
--

CREATE TABLE car_rental.role (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE car_rental.role OWNER TO postgres;

--
-- Name: role_id_seq; Type: SEQUENCE; Schema: car_rental; Owner: postgres
--

ALTER TABLE car_rental.role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME car_rental.role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: car car_gos_number_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car
    ADD CONSTRAINT car_gos_number_key UNIQUE (gos_number);


--
-- Name: car_model car_model_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car_model
    ADD CONSTRAINT car_model_pkey PRIMARY KEY (id_model);


--
-- Name: car car_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car
    ADD CONSTRAINT car_pkey PRIMARY KEY (id);


--
-- Name: car_state car_state_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car_state
    ADD CONSTRAINT car_state_pkey PRIMARY KEY (id);


--
-- Name: car_state car_state_status_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car_state
    ADD CONSTRAINT car_state_status_key UNIQUE (status);


--
-- Name: car car_vin_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car
    ADD CONSTRAINT car_vin_key UNIQUE (vin);


--
-- Name: client client_email_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.client
    ADD CONSTRAINT client_email_key UNIQUE (email);


--
-- Name: client client_login_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.client
    ADD CONSTRAINT client_login_key UNIQUE (login);


--
-- Name: client client_phone_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.client
    ADD CONSTRAINT client_phone_key UNIQUE (phone);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (id);


--
-- Name: contract contract_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.contract
    ADD CONSTRAINT contract_pkey PRIMARY KEY (id);


--
-- Name: doctype doctype_name_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.doctype
    ADD CONSTRAINT doctype_name_key UNIQUE (name);


--
-- Name: doctype doctype_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.doctype
    ADD CONSTRAINT doctype_pkey PRIMARY KEY (id);


--
-- Name: document document_client_id_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.document
    ADD CONSTRAINT document_client_id_key UNIQUE (client_id);


--
-- Name: document document_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.document
    ADD CONSTRAINT document_pkey PRIMARY KEY (id);


--
-- Name: rental_state rental_state_name_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.rental_state
    ADD CONSTRAINT rental_state_name_key UNIQUE (name);


--
-- Name: rental_state rental_state_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.rental_state
    ADD CONSTRAINT rental_state_pkey PRIMARY KEY (id);


--
-- Name: role role_name_key; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.role
    ADD CONSTRAINT role_name_key UNIQUE (name);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: contract fk1imu9u0vjfpxljn0keruwa2yi; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.contract
    ADD CONSTRAINT fk1imu9u0vjfpxljn0keruwa2yi FOREIGN KEY (state_id) REFERENCES car_rental.rental_state(id);


--
-- Name: document fk4wiqnj5twgx3pup933cy9yybd; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.document
    ADD CONSTRAINT fk4wiqnj5twgx3pup933cy9yybd FOREIGN KEY (client_id) REFERENCES car_rental.client(id);


--
-- Name: car fkdr4movr77cm8s34r8jtv9ajvi; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car
    ADD CONSTRAINT fkdr4movr77cm8s34r8jtv9ajvi FOREIGN KEY (model_id) REFERENCES car_rental.car_model(id_model);


--
-- Name: contract fkixovqbw2hcpmeuelx4a7la9td; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.contract
    ADD CONSTRAINT fkixovqbw2hcpmeuelx4a7la9td FOREIGN KEY (car_id) REFERENCES car_rental.car(id);


--
-- Name: contract fklhq3p3xl25vvnfvyfc51ica0j; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.contract
    ADD CONSTRAINT fklhq3p3xl25vvnfvyfc51ica0j FOREIGN KEY (client_id) REFERENCES car_rental.client(id);


--
-- Name: document fknbwb2oicy6xhsnpu7naufy4x6; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.document
    ADD CONSTRAINT fknbwb2oicy6xhsnpu7naufy4x6 FOREIGN KEY (doctype_id) REFERENCES car_rental.doctype(id);


--
-- Name: car fkr7ylxgrplnijyxbh6lkn1eisl; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.car
    ADD CONSTRAINT fkr7ylxgrplnijyxbh6lkn1eisl FOREIGN KEY (state_id) REFERENCES car_rental.car_state(id);


--
-- Name: client fkt3u054dm7xwantyiihf73p2tj; Type: FK CONSTRAINT; Schema: car_rental; Owner: postgres
--

ALTER TABLE ONLY car_rental.client
    ADD CONSTRAINT fkt3u054dm7xwantyiihf73p2tj FOREIGN KEY (role_id) REFERENCES car_rental.role(id);


--
-- PostgreSQL database dump complete
--

